@model EventManagement.Models.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="container">
    <br />
    <div class="panel panel-default">
        <h3><span class="badge badge-danger">Change Password</span></h3><br />
        <div class="panel-body">
            @Html.AntiForgeryToken()

            @if (TempData["MessageUpdate"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["MessageUpdate"]</p>
            }
            @Html.ValidationSummary(true)
            <form method="post" asp-controller="Customer" asp-action="ChangePassword">
                <div class="row">
                    <div class="col-lg-4">
                        <input asp-for="Password" type="password" class="form-control box-shadow border-0" placeholder="Old Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4">
                        <input asp-for="NewPassword" type="password" class="form-control box-shadow border-0" placeholder="New Password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <br />
                        <input id="Submit" type="submit" class="btn btn-primary" value="Change Password" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
